
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header { 
    display: flex;
    flex-wrap: wrap; 
    background-size: 100% 100%;
    background-color:rgb(48, 48, 134);
    height: 80px;
    width: 100%;
    justify-content: flex-end;
    align-items: center; 
}

h1 {
    background-color: lavender;
    color: rgb(48, 48, 134);
    height: 60px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 30px;
    padding-top: 8px;
    padding-bottom: 1px;
    padding-left: 60px;
    padding-right: 12px;

}

nav ul {
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s ease 0s;
}

nav li a:hover {
    color: aqua; 
}

li {
    display: inline;
    margin-right: 15px;
    margin-bottom: 20px;
  
}

a {
    padding: 10px;
    color: lavender;
}

 main {
    background-color: rgb(247, 244, 241);
    background-size: 100% 100%; 
 }

.hero-banner {
    display: flex;
    height: 200px;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2022/01/15/02/07/windows-6938478_960_720.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.95; 
    position: relative;
}

h2 {
    text-align: center;
    color: rgb(48, 48, 134);
    background-color: lavender;
    position: absolute;
    padding: 5px;
    margin-top: 140px;
    margin-bottom: 20px;
    margin-left: 70%;
}

.page-section {
    display: flex;
}
.page-section h3 {
        width: 60%;
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        color: rgb(48, 48, 134);
        border-right: 2px solid rgb(48, 48, 134);
        margin-left: 30px;
        margin-top: 50px; 
        padding-right: 10px;
}

.page-section p {
    display: inline-block;
    text-align: left;
    padding-top: 30px;
    margin-left: 15%;
    color:rgb(6, 6, 89);
}

.remainder {
    display: flex;
}

h3 {
    width: 60%;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color:rgb(48, 48, 134);
    margin-left: 30px;
    margin-top: 50px; 
    padding-right: 10px;
}

 .contact-me {
    display: flex;
    width: 60%;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: rgb(48, 48, 134);
    margin-left: 30px;
    margin-top: 50px; 
    padding-right: 10px;
 }

 .contact-me a {
    color:rgb(48, 48, 134);
    font-size: 18px;
   display: inline-block;
   text-align: right;
 }