
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header { 
    display: flex;
    flex-wrap: wrap; 
    background-size: 100% 100%;
    background-color:rgb(48, 48, 134);
    height: 80px;
    width: 100%;
    justify-content: flex-end;
    align-items: center; 
}

h1 {
    background-color: lavender;
    color: rgb(48, 48, 134);
    height: 60px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 60px;
    padding-right: 12px;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transition: all 0.3s ease 0s;
}

nav li a:hover {
    color: aqua; 
}

li {
    display: inline;
    margin-right: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

a {
    padding: 10px;
    color: lavender;
}

 main {
    background-color: rgb(247, 244, 241);
    background-size: 100% 100%; 
 }

.hero-banner {
    display: flex;
    height: 200px;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2022/01/15/02/07/windows-6938478_960_720.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.95; 
    position: relative;
}

#avatar {
    border-radius: 50%;
    height: 70%;
    margin-top: 30px;
    margin-left: 50px;
}

h2 {
    text-align: center;
    color: rgb(48, 48, 134);
    background-color: lavender;
    position: absolute;
    padding: 5px;
    margin-top: 140px;
    margin-bottom: 20px;
    margin-left: 70%;
}

.page-section {
    display: flex;
    flex-wrap: wrap;
}

.page-section h3 {
        width: 20%;
        font-size: 30px;
        font-weight: bold;
        color: rgb(48, 48, 134);
        border-right: 2px solid rgb(48, 48, 134);
        margin-right: 10px;
        text-align: right;
        padding-right: 8px;
        display: inline-block;
}

#about-me {
    width: 20%;
}

#paragraph {
    width: 79%;
}

.page-section p {
    text-align: left;
    color:rgb(6, 6, 89);
    margin-left: 15px;
    margin-top: 10px;
    font-size: 20px;
}

.page-section a {
    flex-wrap: wrap;
    color:rgb(48, 48, 134);
    font-size: 18px;
    display: inline-block;
    justify-content: flex-end;
}

.flex-container {
    width: 79%;
    display: flex;
    flex-wrap: wrap;
}

#work {
    width: 20%;
}


.card {
    width: 45%;
    background-color: lavender;
    padding: 10px;
    border: 3px solid rgb(48, 48, 134);
    margin-left: 15px;
    margin-top: 25px;
    flex-wrap: wrap;
 }

 #project-one {
    width: 91.5%;
}

#img1{
    width: 100%;
    opacity: 0.7;
}
 #img2 {
    width: 100%;
    opacity: 0.7;
 }
 .project-headings {
  color: lavender;
  background-color:rgb(78, 78, 179);
 }

 /*.contact {
    justify-content: space-between;
 }*/

/* edit .contact-me rule to improve justification and alignment
 .contact-me {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: rgb(48, 48, 134);
 margin-left: 100px;
 }*/
/* elements removed from .contact-me*/

/* removed .title class to assess impact on overall format*/

 /*deleted footer background*/
